<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarketCountdownApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarketCountdownApp.Properties.Settings>
            <setting name="ShowAUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCAD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCHF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCNY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEUR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGBP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowJPY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNZD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUSD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNextEventToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSeconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Use24Hour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnouncerSoundsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </MarketCountdownApp.Properties.Settings>
    </userSettings>
</configuration>